@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --black: #232126;
  --white: #F4F2F7;
  --card-bg: #283142;
  --card-title: #676FFF;
  --table-bg: #1B2531;
  --table-border: #384459;
  --table-text: #9AAABE;
  --table-head: #E9E9E9;
  --table-body: #CFCFCF;
  --table-tr: #5F6E82;
  --table-tr-hover: #384459;
  --table-tr-odd: #242C3B;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
html {
  background-color: var(--black);
  color: var(--white);
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}

.dsmeta-container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

#sales {
  padding: 4rem 1rem;
}